html,
		*{
			margin: 0;
			padding: 0;
		}

		img{
			border-radius: 20px;
			float: left;
		}
		
		body {
		}
		
		#contenedor {
			
			background-color:#BFFBFF;
			height: 1200px;
			width: 1800px;
			margin: 1em auto;
			padding: 1em;
			position: absolute;
			top: 250px;
			left: 260px;
			margin-top: -250px;
			margin-left: -250px;
		}
		
		#cabecera {
			height: 5%;
			border-radius: 1em;
			background:#E5E5E5;
			text-align: center;
			margin:1em;
		}
		
		#cabecera1{
			width: 50%;
			height:50%;
			margin: 1em;
			border-radius: 1em;
			font-size: 3em;
		
		}
		
		#imagenes{
			height: 10%;
			border-radius: 1em;
			margin:1em;

		}
		
		#contenido{
			height: 69%;
			width:100%;
			background:#BFFBFF;
			float:center;
		}
		
		#principal {
			height: 96%;
			width:11%;
			background-color: #E5E5E5;
			border-radius: 1em;
			color:#E5E5E5;
			float:left;
			margin: 1em;
			margin-right:-1em;
		}
		
		#principal1{
			width:50%;
			height:50%;
			margin: 1em;
			border-radius: 1em;
			font-size: 2em;
			color: #191919;
		}
		#principal2{
			width:50%;
			height:50%;
			margin: 1em;
			border-radius: 1em;
			font-size: 3em;
		 	color: #191919;
		}
		
		#secundario {
			height: 96%;
			width:87%;		
			background-color: #E5E5E5;
			border-radius: 1em;	
			color:#000000;
			float:right;
			margin:1em;
			margin-left:-1em;		
		}
		
		
		#pie{
			height:9%;
			background-color:#E5E5E5;
			clear: both;
			text-align:center;
			color: blue;
			border-radius: 1em;
			margin:1em;
			
		}
		
		#Table{
			width: 50%;
			border-color: rgb(0, 89, 255);
			font-size: 2em;
			position: center;
		}
		#video{
			width: 100%;
			height: 100%;
			
		}

		*{box-sizing:border-box;}

form{
	position: right;
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize: vertical;
	display:block;
}